p{
    font-family: "Roboto", verdana, arial, sans-serif;
    line-height: normal;
    text-align: center;
}

p::first-letter{
    font-size: 25px;
}

li{
    color: rgb(37, 63, 42);
    font-weight: 100;
    list-style: none;
}

li::before{
    content: ' ';
    background-image: url("../img/among\ us_icon.png");
    height: 33px;
    width: 33px;
    display: inline-block;
}

body{
    background-image: url("../img/bck.jpg");
}

h1{
    color: black;
    cursor: pointer;
    font-size: 100%;
    padding: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    transition: color 2s ease;
    text-shadow: 0.5em 0.5em 0.5em rgb(255, 255, 255);
}

h1:hover{
    background-color: hsla(143, 83%, 14%, 0.234);
    transform: scale(1.5);
	transition: ease-in 2s;
    color: #fff;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: blue;
}

/*navigation bar*/
div.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: hsla(133, 80%, 16%, 0.432);
    list-style-type: none;
    overflow: hidden;
}

div.navbar img{
    padding: 5px;
}

div.navbar ul{
    display: inline-block;
    position: fixed;
    right: 20px;
}

div.navbar li{
    float: left;
    display: inline;
}

div.navbar li a{
    display:block;
    font-weight: bold;
    padding: 8px 10px;
    float: right;
    color: white;
    border-radius: 10px;    
}


div.navbar li a:hover {
    background-color: hsla(154, 37%, 22%, 0.234);
    transform: skew(10deg);
}


div.wrapper{
    /*background: url("../img/Mosope\ Onifade.png");*/
    top:50px;
}

/* Introduction */
div.introduction h1{
    width: 17%;
    top: 100px;
    right: 80%;
    position: fixed;
}

div.intro {
    display: none;
    background-color: hsla(109, 13%, 25%, 0.172);
    padding: 3%;
    left: 23%;
    right: 23%;
    position: fixed;
    top: 10%;
    bottom: 10%;
}

div.introduction h1:hover + div.intro{
    display: block;
}

/* Assignemnt */
div.Assignment h1{
    width: 17%;
    top: 100px;
    left: 80%;
    position: fixed;
}

div.Assignment ul{
    display: none;
    background-color: hsla(109, 13%, 25%, 0.172);
    padding: 5%;
    left: 23%;
    right: 23%;
    position: fixed;
    top: 10%;
    bottom: 10%;
}


div.Assignment h1:hover + ul {
    display: block;
}

/* Portfolio */
div.Portfolio h1{
    width: 15%;
    top: 200px;
    right: 80%;
    position: fixed;
}

div.Portfolio ul{
    display: none;
    background-color: hsla(109, 13%, 25%, 0.172);
    padding: 5%;
    left: 23%;
    right: 23%;
    position: fixed;
    top: 10%;
    bottom: 10%;
    border-right: 5px solid #fff;
    border-bottom: 3px solid #fff;
}

div.Portfolio li:first-child{
    box-shadow: 5px 10px rgba(253, 255, 237, 0.521);
}

div.Portfolio h1:hover + ul {
    display: block;
}

/*Contact Information */
div.Contact h1{
    margin:auto;
    width: 17%;
    left: 80%;
    top: 200px;
    position: fixed;
    cursor: pointer;
}
div.contactinfo {
    display: none;
    background-color: hsla(109, 13%, 25%, 0.172);
    padding: 5%;
    left: 23%;
    right: 23%;
    position: fixed;
    top: 10%;
    bottom: 10%;
}

div.Contact h1:hover + .contactinfo{
    display: block;
}

/*Shedule */
div.Schedule h1{
    width: 15%;
    top: 300px;
    right: 80%;
    position: fixed;
}

table {
    display: none;
    background-color: hsla(109, 13%, 25%, 0.172);
    padding: 5%;
    left: 23%;
    right: 23%;
    position: fixed;
    top: 10%;
    bottom: 10%;
}

td{
    padding: 5px;
}

thead{
    background-color: rgb(196, 252, 233);
}

table, th, td{
    border: 1px solid white;
    vertical-align: middle;
    empty-cells: hide;
}

tr:nth-child(even){
    background-color: rgb(196, 252, 233);
}

div.Schedule h1:hover + table{
    display: block;
}

.contactinfo, table{
    border-right: 5px solid #fff;
    border-bottom: 3px solid #fff;
}

/*Footer*/
footer{
    position: fixed;
    font-size: 10px;
    top: 94%;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: hsla(133, 79%, 17%, 0.171);*/
    background-image: linear-gradient(rgba(206, 250, 193, 0.692), rgba(255, 255, 255, 0.507));
}